
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
border-color: #FFFFFF ;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: local("Rubic"),
       url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: local("Raleway"),
        url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*.hidden,
.services__item--hidden,
.services__menu-item--hidden{
  display: none; почему не сработало?*/


.visually-hidden,
.hidden,
.services__item--hidden,
.services__menu-item--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.list-reset{
  margin:0;
  padding:0;
  list-style: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.condition {
  outline: 2px solid red;
  display: inline-block;
  height: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 0 40px;
  padding-top: 14px;
  padding-bottom: 16px;
  background: linear-gradient(to bottom,  transparent 0 42%, #FFE17F 42% 56%, transparent 56% 100% );
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF; /*добавить прозрачность*/
  color: #444444;

}
main{
  flex-grow: 1;
}

.container{
  /*outline: 5px solid rgb(0, 173, 247);*/
  outline-offset: -5px;
  padding: 0 140px;
}
.button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

  .page-header__wrapper{
    /*outline: 5px solid rgb(34, 0, 128);*/
    outline-offset: -5px;
    background: linear-gradient(to bottom, #FFFFFF 0 8%, #FFE17F 8% 100%);
    margin: 0 auto;
    padding-top: 0px;
    padding-right: 59px;
    padding-left: 60px;
  }

  .page-header__container{
   /* outline: 3px solid rgb(0, 128, 0);*/
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;

}
.page-header__logo{
  display: inline-block;
  /*outline: 3px solid blue;*/
  outline-offset: -5px;
  margin-bottom: 38px;
}

.page-header__logo-image{
  vertical-align: bottom;
}

.nav-main__list{
  display: flex;
  justify-content: space-between;
}

.user-list{
  /*outline: 1px solid  rgb(0, 255, 149);*/
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  margin-bottom: 29px;
}
.user-list__link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 20px;
}

.user-list__link:hover {
  opacity: 0.6;
}

.user-list__link:focus { /*поиск по сайту не сработало - остальное -огонь*/
  outline: none;
  border-color: #AF4FFF;
}

.user-list__link--search {
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.user-list__search-form {
  width: 516px;
}

.user-list__search {
  display: flex;
}

.user-list__search::before {
  content: "";
  display: inline-block;
  background-image: url("../img/search.svg");
  width: 16px;
  height: 16px;
  margin-right: 20px;
  align-self: center;
}

.user-list___search-input {
  width: 100%;
  height: 20px;
  border: none;
  background-color: transparent;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  cursor: pointer;
}

.user-list__link--enter::before{
  content: "";
  display: inline-block;
  background-image: url("../img/enter.svg");
  width: 13px;
  height: 12px;
  margin-right: 12px;
}

.user-list__link--compare::before {
  content: "";
  display: inline-block;
  background-image: url("../img/compare.svg");
  width: 10px;
  height: 12px;
  margin-right: 10px;
}

.user-list__link--basket{
  padding-left: 15px;
}

.user-list__link--basket::before{
  content: "";
  display: inline-block;
  background-image: url("../img/basket.svg");
  width: 16px;
  height: 14px;
  margin-right: 10px;

}
.user-list__link--basket::after{
  display: inline-block;
  position: absolute;
  right: -47px;
  content: "2";
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
}

.site-list{
  /*outline: 1px solid  red;*/
  outline-offset: -5px;
  display: flex;
  align-items: center;
  }

 .site-list__button-menu {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: transparent;
   opacity: 0.2;
   border: 2px solid #000000;
  }

  .site-list__button-menu:hover {
    opacity: 1;
  }

  .site-list__button-menu:hover:after {
    display: none;
  }


/*как лучше крестик посьавить по центру?*/
  .site-list__button-menu::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color:#000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
 }


  .site-list__button-menu::after  {
    content: "";
    display:inline-block;
    width: 16px;
    height: 2px;
    background-color: #000000;
    transform: rotate(90deg) translate(-2px, 0);


  }




.top-gadget__content-wrapper {
  width: 560px;
  margin-right: auto;
  /*outline: 5px solid darkmagenta;*/
  outline-offset: -5px;
}




.site-list__link {
  position: relative;
  display: block;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.site-list__link::before { /*как увеличить горизонтальные отспупы?*/

  content: "";
  width: 100%;
  height: 50px;
  border: 2px solid #AF4FFF;
  border-radius: 30px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px;
  box-sizing: content-box;
  opacity: 0;
}

.site-list__link:focus::before {
  outline: none;
  opacity: 1;
}

.site-list__link:hover {
  border-bottom: 2px solid #000000;
}

.site-list__link:active{
  border-bottom: 2px solid #000000;
  opacity: 0.3;
  border-radius: 0;
}

.top-gadget{
  /*outline: 3px solid fuchsia*/
  outline-offset: -5px;
  margin-bottom: 70px;

}
.top-gadget__wrapper{
  background: linear-gradient(to bottom, #FFE17F 0% 9%,  #FFFFFF 9% 100%);

}
.top-gadget__item {
  display: flex;
}

.top-gadget__image{
  margin-left: auto;
  margin-right: 40px;
  padding: 0;
 /* outline: 5px solid red;
  outline-offset: -5px;*/
  position: relative;
  outline: 2px solid thistle;
  offset: -2px;


}
.top-gadget__number{
  margin: 0;
  margin-top: 20px;
  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color:#FFFFFF;
}


.top-gadget__title{
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 19px;
}

.top-gadget__description{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.top-gadget__specifications-wrapper{
  /*outline: 3px solid blue;*/
  outline-offset: -5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;

}

.top-gadget__specifications-description{
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
}
.top-gadget__detals {
  margin-bottom: 70px;
}


.top-gadget__detals:focus{
  background: linear-gradient(to bottom,  transparent 0 42%, #AF4FFF 42% 56%, transparent 56% 100% )
}

.top-gadget__detals:hover{
  background-color: #FFE17F ;
}

.top-gadget__detals:active{
  background-color: #FFE17F ;;
  color: rgba(0, 0, 0, 0.3);
}

.top-gadget__specifications-description-number{
  margin: 0;
  min-width: 160px;
  font-size: 36px;
  line-height: 30px;
}

.slider__controls-wrapper {
  display: flex;
  width: 560px;
  justify-content: space-between;
  position: absolute; /*не могу правильно спозиционировать элемент - подгоняла. НЕ пррнимаю алгоритма*/
  outline: 2px solid springgreen;
  offset: -2px;
  top: 130%;
}

.slider__button {
  width: 40px;
  height: 80px;
  padding: 10px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  border: 2px solid transparent;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__button:focus {
  border-color: #AF4FFF;
}


.slider__prev {
  background-image: url("../img/left-tall-arrow.svg");
}

.slider__next {
  background-image: url("../img/right-tall-arrow.svg");
}



.goods__list{

  margin-bottom: 169px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.goods__item{
  width: 160px;
  justify-content: space-between;
  /*outline: 5px solid green;
  outline-offset: -5px;*/
}

.goods__icon {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.goods__title{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.services{
  position: relative;
  background: linear-gradient(to bottom, #FFFFFF 0 5%, #F0F0F0 5% 100%);
  padding-bottom: 69px;
  margin-bottom: 90px;
 }

.services__wrapper{
  /*outline: 1px solid palevioletred;*/
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
}

.services__menu{
  margin-top: ;
}
.services__menu-list {
  position: relative;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services__menu-list::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 319px;
  height: 7px;
  background-color: #000000;
  transform: rotate(90deg);
  top:0;
  left: 120px ;

}
.services__menu-item {
  margin-bottom: 45px;
}

.services__menu-item:last-child {
  margin-bottom: 0;
}

.services__menu-link.condition {
  outline: 1px red solid;
  background: linear-gradient(to bottom,  transparent 0 40%, #FFC700 40% 60%, transparent 60% 100% );
  width: 160px;
  height: 40px;
  padding: 0 20px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.services__menu-link:focus {
  background: linear-gradient(to bottom,  transparent 0 40%, #AF4FFF 40% 60%, transparent 60% 100% );
}
.services__menu-link:hover {
  background: linear-gradient(to bottom,  #FFC700 0 40%, #FFC700 40% 60%, #FFC700  60% 100% );
}

.services__menu-link.condition:active{
  background: linear-gradient(to bottom,  #000000 0 40%, #000000 40% 60%, #000000 60% 100% );
  color: #FFE17F;
  width: 280px;
}


 .services__list {
   /*outline: 2px solid red;*/
   outline-offset: -5px;
   width: 695px;
  }

 .services__title {
   font-family: "Raleway";
   font-size: 50px;
   line-height: 50px;
   margin: 0;
   margin-bottom: 14px;
 }
  .services__description{
    margin: 0;
   }

 .services__item{
   display: flex;
   align-items: flex-start;
}

.services__item:last-child{
    margin-bottom: 0;
  }

 .services__item-content{
  /*outline: 3px solid green;*/
  outline-offset:-5px;
  width: 560px;
  padding: 0;
}



.delivery-order{
}
.delivery-order__link-wrapper {
  display: flex;
  text-decoration: none;
  color:#000000;
  display: flex;
  background-color: #F0F0F0;
  justify-content: space-between;
  align-items: center;
}

.delivery-order__info-button{ /*не реагтриует как кнопка*/
  margin-right: 33px;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  opacity: 50%;
  border-radius: 50%;
}

.delivery-order__info-icon{
  fill: #000000;
  opacity: 0.3;
}

.delivery-order__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
  margin: 0;

}

.delivery-order__title{
  margin-top: 37px;
  margin-bottom: 43px;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}



.delivery-order__link-wrapper:focus {
  border: 5px solid #AF4FFF;
}

.delivery-order__link-wrapper:hover .delivery-order__wrapper-image {
  background-color: #FFC700;
}

.delivery-order__link-wrapper:hover {
  background-color: #EBEBEB;
}
.delivery-order__link-wrapper:hover .delivery-order__info-button {
  background-color:  #DCDCDC;
}

.delivery-order__link-wrapper:hover .delivery-order__info-icon{
  opacity: 1;
}

.delivery-order__link-wrapper:active {
  background-color: #EBEBEB;
}

.delivery-order__link-wrapper:active .delivery-order__icon-image {
  opacity: 0.3;
}

.delivery-order__link-wrapper:active .delivery-order__title {
  opacity: 0.3;
}

.company{
  position: relative;
  padding-top: 146px;
  padding-bottom: 87px;
}

.information__wrapper{
  /*outline: 5px solid greenyellow;*/
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  padding-top: 90px;


}
.line::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top:0;
  left: 0;

}

.about{
  width: 560px;
}
.about__wrapper{
  /*outline: 2px solid red;
  outline-offset: -5px;*/
}
.about__wrapper-content{
  /*outline: 3px solid rgb(61, 7, 211);*/
  outline-offset: -5px;
  margin-bottom: 23px;
}
.about__advantage:last-child {
  margin-bottom: 0;
}

.about__title{
  margin: 0;
  margin-bottom: 26px;
}
.about__advantage {
  margin: 0;
  margin-bottom: 50px;
}
.about__list-logistic {
  position: relative;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 70px;
}
.about__item-logistic{
  margin-bottom: 28px;
}
.about__item-logistic::before {
  display: inline-block;
  list-style-type: none;
  margin-right: 26px;
  width: 8px;
  height: 8px;
  background-color: #FFE17F;
  border-radius: 50%;
  content: " ";
}

 .about__more-information,
 .contacts__feedback {
  padding-left: 20px;
  padding-right: 20px;

}

 .about__more-information {
   text-decoration: none;
   color: #000000;
 }
 .contacts{
   width: 560px;
 }
.contacts__wrapper{
  width: 560px;
  /*outline: 5px solid red;*/
  outline-offset: -5px;
  margin-left: auto;
}
.contacts__title{
  margin: 0;
  margin-bottom: 26px;
}

.contacts__offer{
  margin: 0;
  margin-bottom: 30px;
}

.contacts__title-shop,
.contacts__subtitle {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts__subtitle{
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts__address-text {
  font-style: normal;
  margin:0;
}
.contacts__address-phone{
  font-style: normal;
  color:#444444;
  text-decoration: underline;
}

.contacts__list-timetable{
  margin-bottom: 67px;
}

.mailing{
  background-color: #F0F0F0;
}

.mailing__form{
}

.mailing__wrapper{
  /*outline: 4px solid rgb(253, 62, 142);*/
  padding-top: 75px;
  padding-bottom: 131px;
}

.mailing__wrapper-description{

  /*outline: 3px solid rgb(108, 226, 255);*/
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}
.mailing__wrapper-send {
  /*outline: 3px solid rgb(108, 226, 255);*/
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
}

.mailing__title{
  width: 560px;
  margin: 0;
  /*outline: 2px solid green;*/
  outline-offset: -5px;
  margin-right: 40px;

}

.mailing__description{
  width: 560px;
  margin: 0;
  /*outline: 2px solid green;*/
  outline-offset: -5px;

}

.mailing__wrapper-form{
  cursor: pointer;}

.mailing__input{
  font-size: 18px;
  opacity: 0.5;
  width: 601px;
  height: 52px;
  border: 0;
  background-color: #F0F0F0;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  padding-top:6px;
}

.mailing__input:focus {
  background-color: #DCDCDC;
  border: none;
}

.mailing__input:hover {
  border-color:rgba(0,0,0,0.2) ;
  background-color:  #F0F0F0;;
}

.mailing__input:active {
  background-color: #F0F0F0;
  border-color: #000000;
}

.mailing__input:invalid {
  border-color: #FF3D3D;
}



.mailing__free::before{
  content: " ";
  display: inline-block;
  background-image: url("../img/tick-big.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-right: 21px;
}


.mailing__button{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 260px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0.1);
  padding-top: 14px;
  padding-bottom: 11px;
}



.mailing__button:focus  {
  border: 3px solid #AF4FFF;
}

.mailing__button:hover{
  background-color: #000000;
  color: #FFFFFF;
}

.mailing__button:active {
  color: #FFFFFF;
  opacity: 0.3;
  border: none;
}




.page-footer {
  position: relative;
  background-color: #444444;
  color: #FFFFFF;
}
.page-footer__logo {
  display: inline-block;
  margin-top:62px;
  margin-bottom: 36px;
}

.contacts__wrapper-addres{
  display: flex;
  justify-content: space-between;
  /*outline: 3px solid rgb(255, 0, 136)*/
  outline-offset: -5px;
  margin-bottom: 49px;

}
.social__wrapper {
  display: flex;
  justify-content: space-between;
  /*outline: 3px solid blue;*/
  outline-offset: -5px;
  margin-bottom: 61px;

}

.contacts__address-text{
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  width: 239px;
}

.nav-footer__list{

  display: flex;
  justify-content: space-between;
  width: 460px;
}

.contacts__address-phone-footer{
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  margin-right: auto;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  border: 2px solid transparent;
  border-radius: 25px;

}

.contacts__address-phone-footer:focus {
  border-color: #AF4FFF;
  outline: none;
  padding: 14px 20px;
  padding-bottom: 15px;

}

.contacts__address-phone-footer:hover {
  color: #FFC700;
}

.contacts__address-phone-footer:active {
  color: #FFC700;
  opacity: 0.3;
}

.nav-footer__link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 14px 20px;
  padding-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 25px;
  margin-right: 7px;
}

.nav-footer__link:focus {
  border-color:  #AF4FFF;

}

.nav-footer__link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700; /*как уменьшить нижнюю границу в длину обнуляю паддинги - все начинает прыгать*/
  border-radius: 0;

}

.nav-footer__link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  border-radius: 0;
  opacity: 0.3;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social_block{
  width: 80px;
  height: 7px;
  background-color: #FFC700;

}

.social__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}
.social__list{
  display: flex;
  justify-content: center;
}

.social__item{

}

.social__item:last-child{
  margin-right: 0px;
}

.social__link {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.social__link-icon{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  margin:auto;
}

.social__link:focus {
  border: 5px solid #AF4FFF;
}

.social__link:focus .social__link-icon {
  fill: #FFFFFF;
}


.social__link:hover .social__link-icon  path{
  fill: red;
  }

.social__link:hover {
  background-color: #FFC700; /*почему не сработало?*/
}

.social__link:active .social__link-icon{ /*почему не сработало?*/
  fill: #464646;
}


.page-footer__logo-link {
  display: inline-block;
  position: absolute;
  right: 140px;
  bottom: 65px;
  padding: 10px;
  border: 2px solid  transparent;
  border-radius: 10px;
}

.page-footer__logo-link:focus {
  border-color: #AF4FFF;
  }

.page-footer__logo-link:hover .page-footer__logo-academy{ /*не сработало*/
  fill: #FFFFFF;
}

.page-footer__logo-link:active .page-footer__logo-academy{  /*не сработало*/
  fill: #FFFFFF;
  opacity: 0.3;
}

.page-inner{
font-size: 16px;
line-height: 19px;
color: #000000;
}

.inner-header__wrapper{
  /*outline: 3px solid palevioletred;*/
  outline-offset: -5px;
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 60px;
  background: linear-gradient(to bottom, #FFE17F 0 25%, #FFFFFF 25% 100% );
}


.inner-header__title{
  margin: 0;
  margin-bottom: 20px;
}

.bread-crumbs__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bread-crumbs_item{
  position: relative;
}

.bread-crumbs__item:not(:last-child):after {
  content: " ";
  display: inline-block;
  background-image: url("../img/nav-arrow.svg");
  width: 4px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}


.bread-crumbs__link {
  display: inline-block;
  margin: 0;
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
  position: relative;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 13px;
}


.inner-navigation__link:last-child {
  content: 0;
}


.inner-navigation__link:focus{
  /*border: 5px solid #AF4FFF*/
}

.inner-navigation__link:hover{ /*не сработал*/
  color: #000000;
}

.inner-navigation__link:active {
  opacity: 0.3;
}

.catalog__products{
  /*outline: 3px solid blue;*/
}

.catalog-products__wrapper{
  display: flex;
  padding-left: 60px ;
}

.сatalog__value-button{
  border: none;
}


.sorting__select{
  margin-right: 330px;
}
.specifications{
  width: 468px;
 /* outline: 3px solid yellow;*/
  padding-left: 200px;
  margin-left: -200px;
  background-color: #EBEBEB;
}
.specifications__wrapper{


}
.specifications__title{
  margin: 0;
  background-color:#DCDCDC;
  padding: 25px 0;
  margin-bottom: 83px;
  padding-left: 200px;
  margin-left: -200px;
}
.products__container{
  /*outline: 3px solid greenyellow;*/
  outline-offset: -5px;

}

}
.products__wrapper{
  display: flex;
  flex-direction: column;
  }
.products__wrapper-title{
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 70px;
}

.sort {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.specifications__subtitle{
  margin: 0;
  padding-top: 3px;
  padding-bottom: 18px;
  margin-bottom: 15px;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  position: relative;
}

.specifications__subtitle::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left:0;
  top: -15px;
}

.specifications__filter-wrapper{

  width: 200px;
  display: flex;
  flex-wrap: wrap;

}

.specifications__filter-group {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  border: 0;

}
.specifications__control{
  position: relative;
  display: flex;
  align-items: center;
}

.specifications__control-input {
  position: absolute;
  opacity: 0;
}


.specifications__control-input + .specifications__control::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  opacity: 0.2;
  border-radius: 3px;
  margin-right: 22px;

}

.specifications__control-input:checked + .specifications__control::before {
  opacity: 1;
}

.specifications__control-input:checked +.specifications__control::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.specifications__control-input-icon {
  position: absolute;
  top: 9px;
  left: 5px;
}

.specifications__control-input:checked:focus + .specifications__control::before {
  border-color: #AF4FFF ;
  background-image: url("../img/Vector.png");
}

.specifications__control-input:focus + .specifications__control::before {
  border-color: #AF4FFF;
  opacity: 1;
}

.specifications__control-input:focus .specifications__control-mark { /*почему не изменился цвет?*/
  color: #AF4FFF;
}

.specifications__control-input:checked:hover + .specifications__control::before {
  opacity: 0.5;
  background-image: url("../img/Vector_hover.png");
}

.specifications__control-input:checked:hover .specifications__control-mark { /*почему не изменился цвет?*/
  opacity: 0.5;;
}

.specifications__control-input:checked:active + .specifications__control::before {
  background-image: url("../img/Vector_active.png")
}
.specifications__control-input:checked:active + .specifications__control::before {
  border-color: rgba(0, 0, 0, 0.2);
}

.specifications__range-toggle{
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
}
.specifications__range-toggle:focus {
  border-color:  #AF4FFF;
}

.specifications__range-toggle:active {
    background-color: #000000;
    border-color: #000000;
}

.specifications__control-radio {
    position: relative;
    display: flex;
    align-items: center;
}
.specifications__control-input-radio{
  position: absolute;
  opacity: 0;;
}

.specifications__control-input-radio + .specifications__control-radio::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid  rgba(0, 0, 0, 0.2);
  margin-right: 17px;
}

.specifications__control-input-radio:checked + .specifications__control-radio::before {
  border-color: #000000;

}
.specifications__control-input-radio:checked + .specifications__control-radio::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  left: 6px;
}

.specifications__control-input-radio:checked:focus+ .specifications__control-radio::before {
  border-color: #AF4FFF;
}
.specifications__control-input-radio:checked:focus + .specifications__control-radio::after {
  background-color: #AF4FFF;
}

.specifications__control-input-radio:checked:hover + .specifications__control-radio::before {
  border-color: rgba(0, 0, 0, 0.5);
}
.specifications__control-input-radio:hover + .specifications__control-radio::after {
  background-color: rgba(0, 0, 0, 0.2)
}

.specifications__control-input-radio:checked:hover+ .specifications__control-radio::before {
  border-color: rgba(0, 0, 0, 0.2);
}

.specifications__control-input-radio:hover + .specifications__control-radio::after {
  background-color: rgba(0, 0, 0, 0.2)
}

.toggle-min{
  position: relative;
}
.toggle-max {
  margin-right: 72px;
  margin-left: 92px;
  position: relative;
}

.toggle-max::after {
  content: "";
  width: 72px;
  height: 2px;
  background-color:#DCDCDC;
  position: absolute;
  left: 16px;
}
.toggle-min::after {
  content: "";
  width: 95px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 6px;
  left: 16px;
}
.specifications__filter-price{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  margin-right: 66px;
  margin-bottom: 7px;
  padding-top: 6px;
  padding-bottom: 4px;

}

.specifications__filter-price:last-child{
  margin-right: 0;
}
.specifications__control-mark{
  color: #000000;
}
.specifications__button{
  border: none;
  background: linear-gradient(to bottom,  transparent 0 42%,  #FFC700 42% 56%, transparent 56% 100% )

}
.sorting__select{
  border: 0;
  background-color: #EBEBEB;
  padding-top:4px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 13px;
}

.sorting__select:focus {
  border: 5px solid #AF4FFF;
}

.sorting__select:hover {
  color: #000000;
  opacity: 0.6;
}

.sorting__select:active {
  color: #000000;
  opacity: 0.3;
}

.сatalog__value-button-up,
.сatalog__value-button-down {
  fill: #000000;
  opacity: 0.3;
}
.сatalog__value-button:focus .сatalog__value-button-up {
  border: 5px solid #AF4FFF;
}

.сatalog__value-button:focus > .сatalog__value-button-down {
  border: 5px solid #AF4FFF;
}

.сatalog__value-button:hover .сatalog__value-button-up {
  fill: #000000;
  opacity: 0.6;
}

.сatalog__value-button:hover .сatalog__value-button-down {
  fill: #000000;
  opacity: 0.6;
}

.сatalog__value-button:active .сatalog__value-button-up {
  fill: #000000;
}

.сatalog__value-button:active .сatalog__value-button-down {
  fill: #000000;
}

.сatalog__value{
  color: #000000;
  opacity: 0.3;
}


.products__list-container{
  /*outline: 2px solid rgb(248, 3, 105);*/
  outline-offset: -2px;
  margin-left: 72px;
  margin-bottom: 44px;
}

.products__title-sort {
  margin-left: 72px;
}

.products__list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}

.product__item {
  position: relative;
}

.product__image{
  text-decoration: none;
  outline-offset: -2px;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 380px auto;
  grid-template-areas: "image image"
                       "title cost";
 row-gap: 32px;
}

.product__image-photo {
  grid-area: image;
}

.products__title{
  color: #000000;
  font-size: 18px;
  margin: 0;
  grid-area: title;
}

.products__about{
  margin: 0;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.product__cost{
  grid-area: cost;
  margin: 0;
  color: #444444;
}


.products__about_link.condition {
  /*visibility: hidden;*/
  width: 180px;
  height: 40px;
  padding: 9px 10px 11px;
  background: linear-gradient(to bottom, transparent 0 40%, #FFC700 40% 60%, transparent 60% 100%);
  position: relative; /*как разместить элемент по центру*/
  top: -56%;
  left: 25%;
}

.product__image:focus .product__image-photo {
  border: 5px solid #AF4FFF;
}
.product__image:focus .products__title {
  color: #AF4FFF;
}

.product__image:focus .product__cost {
  color: #AF4FFF;
}

.product__image:hover {
  opacity: 0.8;
}

.product__image:hover + .products__about_link.condition  { /*почему не сработало?*/
  visibility: visible;
}

.products__about_link:hover {
  background: linear-gradient(to bottom, #FFC700 0 40%, #FFC700 40% 60%, #FFC700 60% 100%);
}

.products__about_link:active {
  background: linear-gradient(to bottom, #FFC700 0 40%, #FFC700 40% 60%, #FFC700 60% 100%);
  color: rgba(0, 0, 0, 0.3); /*не сработала прозрачность*/
}

.products__button-download {
  width: 760px;
  margin-left: 72px;
  margin-bottom: 51px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 19px;
  }

  .products__button-download:focus {
    border: 5px solid #AF4FFF;
  }

  .products__button-download:hover {
    border: 3px solid #000000;
  }

  .products__button-download:active {
    border: 3px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);}

  .pangination {
    width: 760px;
    background-color: #EBEBEB;
    margin-bottom: 77px;
    margin-left: 72px;


  }

  .pangination__list {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  .pangination__link {
    height: 38px;
    width: 38px;
    display: inline-block;
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
    vertical-align: middle;
    text-align: center;
}

.pangination__link.pangination__prev {
  padding: 27px 29px;
  width: 127px;
  height: 70px;
  margin-right: 157px;
  color: #000000;
}

.pangination__link.pangination__next {
  margin-left: 157px;
  height: 70px;
  width: 127px;
  color: #000000;
  padding: 27px;
  padding-right: 30px;
  padding-left: 0;
}

.pangination__prev:focus { /*почему прыгает при фокусе?*/
  border: 5px solid #AF4FFF;
}

.pangination__prev:hover {
  background-color: #DCDCDC;
}

.pangination__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pangination__link:focus {
  border: 5px solid #AF4FFF; /*опять прыгет*/
}

.pangination__link:hover {
  color: #000000;
}

.pangination__link:active {
  color: rgba(68, 68, 68, 0.1);
}



