@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: local("Rubic"),
       url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: local("Raleway"),
        url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF; /*добавить прозрачность*/
  color: ##444444;

}
main{
  flex-grow: 1;
}

.page-header {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 19px;
}
.nav-main__list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 1450px;
}

.user-list{
  margin: auto;
  margin-top: 49px;
  margin-bottom: 44px;
}
.site-list{
  margin-bottom: 167px;
}

.top-gadget__item-wrapper{
  display: flex;
  padding-right: 40px;
}
.top-gadget__content-wrapper{
  width: 560px;
}
.top-gadget__list {
  width: 1160px;
  margin: auto;
  padding-bottom: 109px;
}
.user-list__item,
.site-list__item{
  list-style-type: none;

}
.user-list__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.user-list__link--opacity {
  opacity: 0.3;
}

.site-list__link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.top-gadget__number{
  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color:#FFFFFF

}

.top-gadget__title{
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
}

.top-gadget__description{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.top-gadget__delals {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.top-gadget__specifications-description-number{
  font-size: 36px;
  line-height: 30px;
}

.goods__item{
  list-style: none;
}

.goods__icon {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.goods__title{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.services__menu-list {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style: none;
}
.services__menu-link{
  color: #000000;
  text-decoration: none;
}
.services__menu-link--current {
  color: #FFE17F;
  }
 .services__list {
   list-style: none;
 }

 .services__title {
   font-family: "Raleway";
   font-size: 50px;
   line-height: 50px;
 }


 .services__item{
   background-color: #F0F0F0;
   height: 547px;
 }
.delivery-order {
  background-color: #F0F0F0;

}
.delivery-order__title{
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-order__icon {
  background-color: #FFE17F;
}

.another__font {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
}

.about__list-logistic {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.about__item-logistic::before {
  list-style-type: none;
  color: #FFE17F;
  content: "";
  /*как изменить цвет маркеров и вставить кружок заданного размера?*/}

 .about__more-information,
 .contacts__feedback {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;}

 .about__more-information {
   text-decoration: none;
   color: #000000;
 }

.contacts__title-shop,
.contacts__subtitle {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts__address-text {
 font-style: normal;
}
.contacts__address-phone{
  font-style: normal;
  color:#444444;
  text-decoration: underline; /*не отображается телефон*/
}

.mailing__title{
font-family: "Raleway";
font-size: 50px;
line-height: 50px;
}

.mailing__input{
  font-size: 18px;
  opacity: 0.5;
  flex-wrap: ;


}

.mailing__free::before{
  content: "✔";
  color: #08AF00;
  padding-right: 21px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;}

.nav-footer__item {
  list-style: none;

}

.nav-footer__link {
  font-family: "";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.contacts__address-phone-footer {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}

.page-inner{
font-size: 16px;
line-height: 19px;
color: #000000;
}

.inner-header__title{
font-family: "Raleway";
font-size: 50px;
line-height: 50px;
}
.inner-navigation__list {
  list-style: none;
}
.inner-navigation__link {
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
}
.specifications__title-wrapper{
  background-color:#DCDCDC;
  width: 468px;
  height: 70px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.specifications-filter{
  background-color:#F0F0F0;
}
.products__wrapper-header{
  background-color:#F0F0F0;
}

.font-raleway {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.specifications__title,
.products__title{
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.specifications__filter-price{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.specifications__control-mark{
  color: #000000;
}
.specifications__button{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.сatalog__value{
  color: #000000;
}
.products__list{
  list-style: none;
}
.product__image {
  text-decoration: none;
}
.products__about{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.product__cost{
  color: #444444;
}



