@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src:local("Rubik"),
      url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: local("Rubic"),
       url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: local("Raleway"),
        url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden{
  visibility: ;

}
html {
  height: 100%}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF; /*добавить прозрачность*/
  color: #444444;

}
main{
  flex-grow: 1;
}

.page-header__wrapper {
  outline: 5px solid green;
  outline-offset: -5px;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-bottom: 167px;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 19px;
}
.page-header__logo{
  outline: 5px solid blue;
  outline-offset: -5px;
  display: block;
  margin-bottom: 34px;



}

.page-header__logo-image{
  vertical-align: bottom;
}
.nav-main{
  width: 1450px;
 }

.nav-main__list{
  display: flex;
  margin: 0;
  padding: 0;

}

.user-list{
  outline: 1px solid  red;
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  width: 1075px;
  margin-bottom: 44px;
}

.site-list{
  outline: 1px solid  red;
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  width: 1041px;

}

.page-container {
  width: 1440px;
  margin: 0 auto;
  outline: 5px solid greenyellow;
  outline-offset: -5px;

}
.top-gadget__content-wrapper {
  width: 560px;
  margin-right: auto;
  outline: 5px solid darkmagenta;
  outline-offset: -5px;
}

.user-list__item,
.site-list__item{
  list-style-type: none;

}
.user-list__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.user-list__link--search {
  opacity: 0.3;
}
.top-gadget__title{
  margin-bottom: 19px;
}
.site-list__link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.top-gadget__list{
  margin: 0;
  padding: 0;
}
.top-gadget__item {
  margin: 0;
  display: flex;
  flex-direction: row;
  outline: 5px solid blue;
  outline-offset: -5px;
}
.top-gadget__image{
  margin-left: auto;
  margin-right: 40px;
  padding: 0;
  flex-direction: row;
  outline: 5px solid red;
  outline-offset: -5px;
}
.top-gadget__number{
  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color:#FFFFFF

}


.top-gadget__description{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.top-gadget__detals {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.top-gadget__specifications-description-number{
  font-size: 36px;
  line-height: 30px;
}

.goods__list{
  width: 1160px;
  margin:  auto;
  margin-bottom: 169px;
  margin-top: 109px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  outline: 5px solid red;
  outline-offset: -5px;

}

.goods__item{
  width: 160px;
  list-style: none;
  justify-content: space-between;
  outline: 5px solid green;
  outline-offset: -5px;
}

.goods__icon {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.goods__title{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.services__menu-list {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style: none;
}
.services__menu-link{
  color: #000000;
  text-decoration: none;
}
.services__menu-link--current {
  color: #FFE17F;
  }
 .services__list {
   list-style: none;
   width: 1440px;
   margin: 0 auto;
   margin-bottom: 90px;
   padding: 0;
   outline: 5px solid red;
   outline-offset: -5px;

 }

 .font-title {
   font-family: "Raleway";
   font-size: 50px;
   line-height: 50px;
   margin: 0; /*нужно ли убирать отступы, которые по умолчанию  прописаны в user-agent?*/
 }
 .services{
   margin-bottom: 90px;
 }
 .services__title{
   margin-top: -15px;
   margin-bottom: 19px;

 }
  .services__description{
    margin: 0; /*нужно ли убирать отступы, которые по умолчанию  прописаны в user-agent?*/
  }

 .services__item{
   display: flex;
   align-items: flex-start;
   background-color: #F0F0F0;

 }
 .services__item-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 5px solid green;
  outline-offset: -5px;
  width: 560px;
  margin-left: 540px;
  padding: 0;
}

.services__icon{
}


.delivery-order__content{
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 146px;
  padding-top: 37px;
  padding-bottom: 43px;
  display: flex;
  background-color: #F0F0F0
}
.delivery-order__title{
  margin: 0 auto; /*почему нк встала по центру?*/
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-order__icon {
  order: -1;
  background-color: #FFE17F;
}

.delivery-order__info-button{
  margin-left: auto;
}

.information__wrapper{
  width: 560px;
  outline: 5px solid green;
  outline-offset: -5px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about__wrapper{
  width: 560px;
  outline: 5px solid red;
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  margin-right: auto;}

.about__list-logistic {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.about__item-logistic::before {
  list-style-type: none;
  color: #FFE17F;
  content: "";
  /*как изменить цвет маркеров и вставить кружок заданного размера?*/}

 .about__more-information,
 .contacts__feedback {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;}

 .about__more-information {
   text-decoration: none;
   color: #000000;
 }
.contacts__wrapper{
  width: 560px;
  outline: 5px solid red;
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  margin-left: auto;

}
.contacts__title-shop,
.contacts__subtitle {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts__list-timetable{
  list-style: none;
  margin: 0;
  padding: 0;



}
.contacts__address-text {
 font-style: normal;
}
.contacts__address-phone{
  font-style: normal;
  color:#444444;
  text-decoration: underline;
}

.mailing__wrapper{
  width: 1440px;
  outline: 5px solid red;
  outline-offset: -5px;
  width: 1440px;
  background-color: #F0F0F0;
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  padding-top: 75px;
  padding-bottom: 134px;


}
.mailing__title{
  outline: 5px solid green;
  outline-offset: -5px;
  margin-left: auto;
  width: 560px;

}
.mailing__description{
  outline: 5px solid green;
  outline-offset: -5px;
  width: 560px;/*или не задаем?*/
  margin-right: auto;
}

.mailing__form{
  margin-left: auto;
}
.mailing__input{
  font-size: 18px;
  opacity: 0.5;
}
.mailing__free{
  margin: 0;
  margin-right: auto;
}
.mailing__free::before{
  content: "✔";
  color: #08AF00;
  padding-right: 21px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer__wrapper{
  outline: 5px solid pink;
  outline-offset: -5px;
  width: 1440px;
  margin: 0 auto;
  padding-left: 139px;
}

.page-header__logo{
  margin-top: 62px;
  margin-right: 116px;
  margin-bottom: 35px;
  margin-left: 0;
}


.page-footer__wrapper-content{
  outline: 5px solid orange;
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
}

.contacts__address-text{
  width: 240px;
  margin-left: auto;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin-left: auto;
}

.nav-footer__list{
  outline: 5px solid blue;
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.contacts__address-phone-footer{
  display: block;
  width: 400px;
  outline: 5px solid darkorange;
  outline-offset: -5px;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  margin-right: auto;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;

}

.nav-footer__item {
  list-style: none;

}

.nav-footer__link {
  font-family: "";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}


.social {
  display: block;
  width: 400px;
  outline: 5px solid green;
  outline-offset: -5px;
  display: flex;
  margin: 0 auto;
}

.social__list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__about{
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}
.page-inner{
font-size: 16px;
line-height: 19px;
color: #000000;
}

.font-title-small{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.inner-navigation__list {
  outline: 1px solid green;
  width: 425px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.inner-navigation__link {
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
}
.catalog__wrapper{
  width: 1440px;
  display: flex;

}
.specifications__title-wrapper{
  background-color:#DCDCDC;
  width: 468px;
  height: 70px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.specifications-filter{
  background-color:#F0F0F0;
}

.products__wrapper{
  outline: 5px solid green;
  outline-offset: -5px;
  width: 972px;
  display: flex;
  flex-direction: column;
  }


.font-title {
  ffont-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.font-button{
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.specifications__wrapper{
  outline: 5px solid green;
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-right: 72px;
}
.specifications__title,
.products__title{
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.specifications__filter-price{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.specifications__control-mark{
  color: #000000;
}
.specifications__button{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.сatalog__value{
  color: #000000;
}
.products__list{
  outline: 2px solid gold;
  outline-offset: -2px;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.product__image {
  text-decoration: none;
}
.products__about{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.product__cost{
  color: #444444;
}



